extends layout

block content

  .page-header
    h3 Change Password
  form.form-horizontal(action="/user/password" id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='old_password') Old Password
      .col-sm-7
        input.form-control(type='password', name='old_password', id='old_password', placeholder='Old Password')
    .form-group
      label.col-sm-3.control-label(for='new_password') New Password
      .col-sm-7
        input.form-control(type='password', name='new_password', id='new_password', placeholder='New Password')
    .form-group
      label.col-sm-3.control-label(for='confirm_password') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirm_password', id='confirm_password', placeholder='Confirm Password')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          span.ion-person-add
          | Change Password