extends layout

block content
  .panel.panel-default.container(style='max-width:700px;')
    div
      h3
        = image.title
    div.text-center.panel-body
      img.text-center(src='/image/optimized/' + image.image_id + '.jpg')
    .text-left.well.well-sm
      div(style="font-style:italic;")
        = image.description
      div Uploaded by: !{' '}
        a(href='/user/' + uploader.id + '/uploaded')
          = uploader.username
      div Score: !{score}
      div
        span
          a(id="up_link" href='/image/' + image.image_id + '/up') Up
        span !{' | '}
        span
          a(id="down_link" href='/image/' + image.image_id + '/down') Down
      nav
        ul.pager(style="margin-top:0px; margin-bottom:0px;")
          li
            a(id="previous_link" href='/image/' + image.image_id + '/previous') Previous
          li !{' '}
          li
            a(id="next_link" href='/image/' + image.image_id + '/next') Next

