extends layout

block content
  .page-header
    h3
      = image.title
  div.center-block
    img.text-center(src='/image/optimized/' + image.image_id + '.jpg')
    div
      = image.description
    div Score: !{score}
    div
      span
        a(id="previous_link" href='/image/' + image.image_id + '/previous') Previous
      span !{' | '}
      span
        a(id="next_link" href='/image/' + image.image_id + '/next') Next
    div
        span
          a(id="up_link" href='/image/' + image.image_id + '/up') Up
        span !{' | '}
        span
          a(id="down_link" href='/image/' + image.image_id + '/down') Down
