extends layout

block content

  .page-header
    h3 Best Images
  div
    ul
    each image in images
      li
        div
          a(href='/image/' + image.image_id)
            img(src='/image/thumbnail/' + image.image_id + '.jpg')
        div Score = !{scores[image.id]}
        div
          span
            a(href='/image/' + image.image_id + '/up') Up !{' '}
          span
            a(href='/image/' + image.image_id + '/down') Down
