extends layout

block content
  .page-header
    h3
      = your_or_their
  if moderator_status
    div(style="font-style:italic;")
      = moderator_status
  div
  each content_row in content
    div.row
      each upload in content_row
        div.col-xs-6.col-md-3
          div.text-center
            div.thumbnail.image-container
              if upload.isImage
                a(href='/image/' + upload.image.image_id)
                  img(src='/image/thumbnail/' + upload.image.image_id + upload.image.extension)
                div.caption.image-caption
                  div
                    = upload.image.prettyDate
                  if should_allow_delete
                    div
                      a(href='/image/' + upload.image.image_id + '/delete') Delete
              else
                a(href='/album/' + upload.album.id)
                  img(src='/image/thumbnail/' + upload.album.images[0].image_id + upload.album.images[0].extension)
                div.caption.image-caption
                  div
                    = upload.album.prettyDate
                  if should_allow_delete
                    div
                      a(href='/album/' + upload.album.id + '/delete') Delete
