extends layout

block content
  .page-header
    h3 Your images
  div
    ul
      each image in user.Images
        li
          h3 !{image.title}
          a(href='/image/' + image.image_id)
            img(src='/image/thumbnail/' + image.image_id + '.jpg')
          div !{image.description}
