extends layout

block content
  .page-header
    h3 Your images
  div
    ul
      each image in user.Images
        li
          h3 !{image.title}
          img(src='/image/thumbnail/' + image.image_id + '.jpg')
          div !{image.description}
