extends layout

block content
  .page-header
    h3
      = your_or_their
  if moderator_status
    div(style="font-style:italic;")
      = moderator_status
  div
  each image_row in images
    div.row
      each image in image_row
        div.col-xs-6.col-md-3
          div.thumbnail
            a(href='/image/' + image.image_id)
              img(src='/image/thumbnail/' + image.image_id + '.jpg')
            div.caption
              h3
                div
                  = image.title
              div
                = image.description
              if should_allow_delete
                div
                  a(href='/image/' + image.image_id + '/delete') Delete
