extends layout

block content
    div
        h1 Welcome: !{username}
    div
        a(href='/user/logout') Click here to log out.

    form(action="/image/upload", enctype="multipart/form-data", method="POST")
        input(type="text", name="title")
        input(type="text", name="description")
        input(type="file", name="image")
        input(type="submit")


