.panel.panel-default.fixed-panel.container.comment-panel
  div
    h3 Comments:
  if comments
    each comment in comments
      .well.comment
        if comment.options
          div.btn-group-sm.dropdown.pull-right
            button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
              span.caret
              span.sr-only Toggle Dropdown
            ul.dropdown-menu(role="menu")
              each option in comment.options
                li
                  a(href=option.link)
                    = option.text
        span
          = comment.value
        span #{' -- '}
          a(href='/user/' + comment.user_id + '/uploaded')
            = comment.username
  if user
    include comment_form
  else
    .text-center.well.well-sm
      a(href='/user/login?r='+redirect_url) Log in to add a comment
