footer
  .container.text-center
    p.pull-left Made by David Wetterau
    ul.pull-right.list-inline
      li
        a(href='https://github.com/dwetterau/alpha') GitHub Project
      li
        a(href='https://github.com/dwetterau/alpha/issues') Issues
